{# -- Markup --------------------------------------------------------------- #}
{% extends "_layout" %}

{% block bodyTag %}
<body class="{{ entry.type.handle }} {% if  entry.heroComponent is empty %} no-hero {% endif %}">
{% endblock bodyTag %}

{% block content %}

	{% if entry.heroComponent is defined %}
		{% for componentBlock in entry.heroComponent.all() %}
			{% include '@' ~componentBlock.type.handle|replace({'_':'-'})  with ComponentHelper.getComponentArray(componentBlock) only %}
		{% endfor %}
	{% endif %}

	{% if entry.detailComponents is defined %}
		{% for componentBlock in entry.detailComponents.all() %}
			{% set result = ComponentHelper.getComponentArray(componentBlock) %}
			{% if result is not empty %}
				{% include '@' ~componentBlock.type.handle|replace({'_':'-', '_variant':''}) with result only %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% if entry.nextTeaserComponent is defined %}
		{% for componentBlock in entry.nextTeaserComponent.all() %}
			{% include '@' ~componentBlock.type.handle|replace({'_':'-'})  with ComponentHelper.getComponentArray(componentBlock) only %}
		{% endfor %}
	{% endif %}

{% endblock %}
