{# -- Markup --------------------------------------------------------------- #}
{% extends "_layout" %}

{% block bodyTag %}
<body class="{{ entry.type.handle }}">
{% endblock bodyTag %}

{% block content %}

	{% if entry.homeComponents is defined %}
		{% for componentBlock in entry.homeComponents.all() %}
			{% include '@' ~componentBlock.type.handle|replace({'_':'-'})  with ComponentHelper.getComponentArray(componentBlock) only %}
		{% endfor %}
	{% endif %}

{% endblock %}
