{# -- Markup --------------------------------------------------------------- #}
{% extends "_layout" %}

{% block bodyTag %}
<body class="{{ entry.type.handle }}">
{% endblock bodyTag %}

{% block content %}

	{% if entry.heroComponentLandingpage is defined %}
		{% for componentBlock in entry.heroComponentLandingpage.all() %}
			{% include '@' ~componentBlock.type.handle|replace({'_':'-'})  with ComponentHelper.getComponentArray(componentBlock) only %}
		{% endfor %}
	{% endif %}

	{% if entry.landingComponents is not null and entry.landingComponents is defined %}
		{% for componentBlock in entry.landingComponents.all() %}
			{% include '@' ~componentBlock.type.handle|replace({'_':'-'})  with ComponentHelper.getComponentArray(componentBlock) only %}
		{% endfor %}
	{% endif %}

{% endblock %}
