{% extends "_layout" %}

{% block content %}

{% if entry.heroComponent is defined %}
	{% for componentBlock in entry.heroComponent.all() %}
		{% include '@' ~componentBlock.type.handle|replace({'_':'-'})  with ComponentHelper.getComponentArray(componentBlock) only %}
	{% endfor %}
{% endif %}

{% endblock %}
