{% extends "_layout" %}

{% block content %}

	{% if errorPage404.heroComponent is defined %}
		{% for componentBlock in errorPage404.heroComponent.all() %}
			{% include '@' ~componentBlock.type.handle|replace({'_':'-'})  with ComponentHelper.getComponentArray(componentBlock) only %}
		{% endfor %}
	{% endif %}

	{% if errorPage404.detailComponents is defined %}
		{% for componentBlock in errorPage404.detailComponents.all() %}
			{% set result = ComponentHelper.getComponentArray(componentBlock) %}
			{% if result is not empty %}
				{% include '@' ~componentBlock.type.handle|replace({'_':'-', '_variant':''}) with ComponentHelper.getComponentArray(componentBlock) only %}
			{% endif %}
		{% endfor %}
	{% endif %}

{% endblock %}
