{# Default values #}
{% set text = text | default('Button') %}
{% set disabled = disabled | default(false) %}
{% set tag = tag | default('button') %}
{% set href = href | default(false) %}
{% set target = target | default('_self') %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Button' %}
{% set classes = classes ~ (disabled == true and tag != 'button' ? ' disabled' : '') %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	disabled: disabled and tag == 'button',
	'data-ref': ref,
	href: href and tag == 'a' ? href : false,
	target: tag == 'a' ? target : false,
	rel: tag == 'a' and target == '_blank' ? 'noreferrer noopener' : false
} %}

{# Component output #}
<{{tag}}{{ attr(attributes) }}>
	<span class="Button--text">{{ text }}</span>
</{{tag}}>
