{# Default values #}
{% set heading = heading | default('') %}
{% set lead = lead | default(false) %}
{% set formHandle = formHandle | default('') %}
{% set salesforceW2LUrl = salesforceW2LUrl | default(false) %}
{% set salesforceOid = salesforceOid | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'ContactForm' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-js': 'ContactForm',
	'data-ref': ref,
	'data-options': salesforceW2LUrl and salesforceOid ? {salesforceW2LUrl: salesforceW2LUrl, salesforceOid: salesforceOid} : false
} %}

{% set form = craft.freeform.form(formHandle) %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		{% if heading %}
		<div class="row">
			<div class="col-4-c col-tab-6-c col-tabp-10-c col-mob-12">
				<h2 class="ContactForm--heading color-blue-medium tx-title-m tx-center">{{ heading }}</h2>
			</div>
		</div>
		{% endif %}

		{% if lead %}
		<div class="row">
			<div class="col-4-c col-tab-6-c col-tabp-10-c col-mob-12">
				<div class="ContactForm--lead richtext tx-center">
					{{ lead | raw }}
				</div>
			</div>
		</div>
		{% endif %}

		<div class="row">
			<div class="col-6-c col-tabp-10-c col-mob-12">
				<div class="ContactForm--form">
					{{ form.renderTag({formAttributes: {
						'data-ref': 'ContactForm:form'
					}}) }}
					{% for row in form %}
						<div class="row form-row">
							{% for field in row %}
								<div class="col-{{ (12 / (row | length)) | round }} col-mob-12">

								{# Workaround for input type=tel. (Freeform Lite does not support type 'tel') #}
								{% set fieldType = field.type %}
								{% if field.inputAttributes is defined and (field.inputAttributes | length) > 0 %}
									{% for item in field.inputAttributes %}
										{% if item.attribute == 'type' and item.value == 'tel' %}
											{% set fieldType = 'tel' %}
										{% endif %}
									{% endfor %}
								{% endif %}

									{% include '@input' with {
										ref: 'ContactForm:input',
										id: field.handle,
										name: field.handle,
										value: field.value,
										type: fieldType,
										required: field.required,
										label: field.label | t,
										placeholder: field.placeholder is defined ? (field.placeholder | t) : '',
										options: field.type == 'select' ? field.options : []
									} only %}

								</div>
							{% endfor %}
						</div>
					{% endfor %}

						<div class="row">
							<div class="col-12">
								<div class="tx-right">
									{% include '@button' with {
										text: 'Submit' | t,
										ref: 'ContactForm:submitBtn'
									} only %}
								</div>
							</div>
						</div>
					{{ form.renderClosingTag() }}
				</div>

				<div class="ContactForm--message success tx-body tx-center" data-ref="ContactForm:successMsg">{{ "We received your message! We'll get in touch with you shortly." | t }}</div>
				<div class="ContactForm--message error tx-body tx-center" data-ref="ContactForm:errorMsg">{{ "An error occurred. Your message could not be sent. Please try again later." | t }}</div>

			</div>
		</div>
	</div>
</div>
