{# Default values #}
{% set infoTable = table | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'CustomTable' %}
{% set classes = classes ~ ' color-scheme-white' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="row">
			<div class="col-6-c col-tab-8-c col-tabp-10-c col-mob-12">
				<table class="CustomTable--table">
					<thead>
					<tr>
						{% for col in infoTable.columns %}
							<th class="tx-title-xs color-blue-medium" align="{{ col.align }}" width="{{ col.width }}">{{ col.heading }}</th>
						{% endfor %}
					</tr>
					</thead>

					<tbody class="tx-body">
					{% for row in infoTable.rows %}
						<tr>
							{% for cell in row %}
								<td align="{{ infoTable.columns[loop.index0].align }}">{{ cell }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
