{# Default values #}
{% set image = image | default({}) %}
{% set title = title | default('') %}
{% set text = text | default('') %}
{% set cta = cta | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'DiagonalTeaser' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'DiagonalTeaser'
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="DiagonalTeaser--row row">
			<div class="DiagonalTeaser--imgColumn">
				<div class="DiagonalTeaser--img">
					{% include '@image' with {
						image: image
					} only %}
				</div>
			</div>

			<div class="DiagonalTeaser--contentColumn">
				<div class="DiagonalTeaser--content">
					<div class="DiagonalTeaser--contentInner">
						<h2 class="DiagonalTeaser--title tx-title-l color-blue-medium">{{ title }}</h2>

						<div class="DiagonalTeaser--text richtext">
							{{ text | raw }}
						</div>

						{% if cta %}
						<div class="DiagonalTeaser--cta">
							{% include '@button' with {
								tag: 'a',
								href: cta.href,
								text: cta.text,
								target: cta.target,
								variants: 'secondary'
							} only %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
