{# Default values #}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}
{% set heading = heading | default(false)  %}
{% set text = text | default(false) %}
{% set items = items | default([]) %}

{# Variables #}
{% set classes = 'Downloads' %}
{% set classes = classes ~ ' color-scheme-white' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		{% if heading %}
		<h2 class="Downloads--heading tx-title-m color-blue-medium tx-center">{{ heading }}</h2>
		{% endif %}

		{% if text %}
		<div class="row">
			<div class="col-7-c col-tab-8-c col-tabp-9-c col-mob-12">
				<div class="Downloads--text richtext tx-center">
				{{ text | raw }}
				</div>

			</div>
		</div>
		{% endif %}

		<div class="row">
			<div class="col-10-c col-tab-11-c col-tabp-12">
				<ul class="Downloads--list">
					{% for item in items %}
						<li class="Downloads--item">
							<a class="Download" href="{{ item.href }}" download>
								<div class="Download--img">
									<img src="{{ ('/assets/img/' ~ item.fileType ~ '.svg') | static }}" alt="{{ logoLink.text }}"/>
								</div>

								<div class="Download--filename tx-body color-blue-medium tx-center">{{ item.text }}</div>

								<div class="Download--meta tx-body-s tx-center">
									{{ item.metaType }} &middot; {{ item.metaSize }}
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
