{# Default values #}
{% set heading = heading | default('') %}
{% set circuits = circuits | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Circuits' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{% set slides = [] %}
{% for item in circuits %}
	{% set content %}
		<div class="Circuit">
			<div class="Circuit--row row">
				<div class="col-6 col-offset-1 col-tab-6  col-mob-12">
					<div class="Circuit--image">
{#						<div class="Circuit--imageInner">#}
							{% include '@image' with {
								image: item.image,
								preset: 'newsItem'
							} only %}
{#						</div>#}
					</div>
				</div>

				<div class="col-4 col-offset-1 col-tab-5 col-tab-offset-1 col-mob-12">
					<div class="Circuit--content">
						<div class="Circuit--contentInner">
							<h3 class="Circuit--name tx-title-m color-blue-medium">
								{{ item.name }}
								<small>({{ item.country }})</small>
							</h3>

							<dl class="Circuit--meta">
								<div>
									<dt class="tx-title-xs color-blue-medium">{{ 'Age (Date of Birth)' | t }}</dt>
									<dd>{{ item.distance }}</dd>
								</div>

								<div>
									<dt class="tx-title-xs color-blue-medium">{{ 'Grand Prix Entered' | t }}</dt>
									<dd>{{ item.rounds }}</dd>
								</div>

								<div>
									<dt class="tx-title-xs color-blue-medium">{{ 'Total Points' | t }}</dt>
									<dd>{{ item.fastestLap }}</dd>
								</div>
							</dl>

							<div class="Circuit--description richtext">
								{{ item.description | raw }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endset %}

	{% set slides = slides | merge([{content: content}]) %}
{% endfor %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<h2 class="Circuits--heading tx-title-m color-blue-medium">{{ heading }}</h2>

		<div class="Circuits--sliderContainer">
			{% include '@slider' with {
				slides: slides,
				prevNextButtons: (circuits | length) > 1
			} only %}
		</div>
	</div>
</div>
