{# Default values #}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'FeedGrid' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="FeedGrid--grid">
			<div class="FeedGrid--cell large">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						{% include '@image' with {
							image: {
								url: ''
							},
							preset: 'feedLarge'
						} only %}
					</div>
				</div>
			</div>

			{% for i in 1..10 %}
				<div class="FeedGrid--cell small">
					<div class="FeedGrid--cellContent">
						<div class="FeedGrid--cellInner">
							{% include '@image' with {
								image: {
									url: loop.index * 33
								},
								preset: 'feedSmall'
							} only %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
