{# Default values #}
{% set contact = contact | default(false) %}
{% set openingHours = openingHours | default(false) %}
{% set newsletter = newsletter | default(false) %}
{% set app = app | default(false) %}
{% set footerNav = footerNav | default([]) %}
{% set socialLinks = socialLinks | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Footer' %}
{% set classes = classes ~ ' color-scheme-dark' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="Footer--main">
		<div class="wrapper">
			<div class="Footer--mainInner">
				{% if contact %}
				<div class="Footer--section contact">
					<h2 class="Footer--sectionTitle tx-title-xs color-blue-neon">{{ contact.title }}</h2>

					<div class="Footer--sectionText richtext">{{ contact.text | raw }}</div>

					<div class="Footer--sectionCta">
						{% include '@link' with {
							text: contact.link.text,
							href: contact.link.href
						} only %}
					</div>
				</div>
				{% endif %}

				{% if openingHours %}
				<div class="Footer--section openingHours">
					<h2 class="Footer--sectionTitle tx-title-xs color-blue-neon">{{ openingHours.title }}</h2>

					<div class="Footer--sectionText richtext">{{ openingHours.text | raw }}</div>

					<div class="Footer--sectionCta">
						{% include '@link' with {
							text: openingHours.link.text,
							href: openingHours.link.href,
							target: openingHours.link.target
						} only %}
					</div>
				</div>
				{% endif %}

				{% if app %}
				<div class="Footer--section app">
					<h2 class="Footer--sectionTitle tx-title-xs color-blue-neon">{{ app.title }}</h2>

					<div class="Footer--sectionText richtext">{{ app.text | raw }}</div>

					<div class="Footer--sectionCta">
						{% for item in app.links %}
						{% include '@link' with {
							text: item.text,
							href: item.href,
							target: item.target
						} only %}
						{% endfor %}
					</div>
				</div>
				{% endif %}

				{% if newsletter %}
				<div class="Footer--section newsletter">
					<h2 class="Footer--sectionTitle tx-title-xs color-blue-neon">{{ newsletter.title }}</h2>

					<div class="Footer--sectionText richtext">{{ newsletter.text | raw }}</div>

					<div class="Footer--sectionCta">
						{% include '@button' with {
							tag: 'a',
							text: newsletter.link.text,
							href: newsletter.link.href,
							target: newsletter.link.target,
							variants: 'small transparent'
						} only %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="Footer--bottom">
		<div class="wrapper">
			<div class="Footer--bottomInner">
				<div class="Footer--nav">
					<ul class="FooterNav">
						{% for item in footerNav %}
						<li class="FooterNav--item">
							<a class="FooterNav--link tx-body-s" href="{{ item.href}}" target="{{ item.target ?? '_self' }}">{{ item.text }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="Footer--social">
					<span class="tx-body-s">{{ 'Follow us' | t }}</span>

					<ul class="FooterSocial">
						{% for item in socialLinks %}
						<li class="FooterSocial--item">
							<a class="FooterSocial--link" href="{{ item.href }}" target="{{ item.target ?? '_self' }}">
								<span class="visuallyhidden">{{ item.name }}</span>

								{% include '@svg' with {
									icon: item.icon
								} only %}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
