{# Default values #}
{% set slides = slides | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}
{% set autoplay = autoplay | default(3000) %}

{# Variables #}
{% set classes = 'FullscreenSlider' %}
{% set classes = classes ~ ' color-scheme-dark' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{% set slideItems = [] %}
{% for item in slides %}
	{% set content %}
		<div class="FullscreenSlide">
			<div class="wrapper">
				<div class="row">
					<div class="slideWrap">
						<h2 class="FullscreenSlide--title tx-title-l">{{ item.title }}</h2>
						<div class="FullscreenSlide--img">
							<div class="FullscreenSlide--img--background">
								{% include '@image' with {
									image: item.image
								} only %}
							</div>
						</div>
						<div class="FullscreenSlide--text richtext">
							{{ item.text | raw }}
						</div>
						<div class="FullscreenSlide--cta">
							{% include '@button' with {
								tag: 'a',
								href: item.cta.href,
								text: item.cta.text,
								target: item.cta.target,
								variants: 'secondary'
							} only %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endset %}

	{% set slideItems = slideItems | merge([{content: content}]) %}
{% endfor %}

{# Component output #}
<div{{attr(attributes)}}>
	<div class="FullscreenSlider--sliderContainer">
		{% include '@slider' with {
			slides: slideItems,
			dataOptions: {fade: true, autoPlay: autoplay , pageDots: (slideItems|length > 1), adaptiveHeight: true}
		} only %}
	</div>
	<div class="FullscreenSlide--scrollIndicator"></div>
</div>
