{# Default values #}
{% set logoLink = logoLink | default({}) %}
{% set serviceNav = serviceNav | default([]) %}
{% set languages = languages | default([]) %}
{% set cta = cta | default(false) %}
{% set mainNav = mainNav | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Header' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'Header'
} %}

{# Component output #}
<div{{ attr(attributes) }}>
<div class="Background--black">
	<div class="Header--top">
		<div class="wrapper">
			<div class="Header--topInner">
				<div class="Header--metaNav">
					<ul class="MetaNav">
						{% for item in serviceNav %}
							<li class="MetaNav--item">
								<a class="MetaNav--link tx-body-s" href="{{ item.href }}">{{ item.text }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="Header--langSelect">
					{% include '@lang-select' with {
						languages: languages,
						variants: variants
					} only %}
				</div>
			</div>
		</div>
	</div>

	<div class="Header--main">
		<div class="wrapper">
			<div class="Header--mainInner">
				<div class="Header--logo">
					{% include '@logo' with {
						text: logoLink.text,
						href: logoLink.href
					} only %}
				</div>

				<nav class="Header--nav" data-ref="Header:nav">
					<ul class="MainNav">
						{% for item in mainNav %}
						<li class="MainNav--item{{ item.subNav ? ' has-subnav' : '' }}" data-ref="Header:navItem">
							<a class="MainNav--link{{ item.isActive ? ' is-active' : '' }}" href="{{ item.href }}" data-ref="Header:navLink">
								{{ item.text }}
							</a>
							{% if item.subNav %}
							<ul class="SubNav">
								{% for item in item.subNav %}
								<li class="SubNav--item">
									<a class="SubNav--link{{ item.isActive ? ' is-active' : '' }}" href="{{ item.href }}">
										{% if item.image is defined %}
											<span class="SubNav--icon">
												{% include '@image' with {
													image: item.image,
													preset: 'cardIcon'
												} only %}
											</span>
										{% endif %}
										{{ item.text }}
									</a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</nav>

				{% if cta %}
				<div class="Header--cta" data-ref="Header:cta">
					{% include '@button' with {
						text: cta.text,
						tag: 'a',
						href: cta.href,
						variants: 'transparent',
						target: cta.target is defined ? cta.target : '_self'
					} only %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="Header--mobile">
		<a class="Header--logoMobile" href="{{ logoLink.href }}">
			<img src="{{ '/assets/img/logo-mobile.svg' | static }}" alt="{{ logoLink.text }}"/>
		</a>

		<button class="Header--burger HeaderBurger" data-ref="Header:burger">
			<span class="HeaderBurger--text open tx-body-s">{{ t }}</span>
			<span class="HeaderBurger--text close tx-body-s">{{ t }}</span>

			<span class="HeaderBurger--icon"></span>
		</button>

	<div class="Header--ctaMobile">
			{% include '@button' with {
				text: 'Race Now',
				tag: 'a',
				href: cta.href,
				variants: 'full-width',
				target: cta.target is defined ? cta.target : '_self'
			} only %}
	</div>

	</div>

	<div class="Header--overlay" data-ref="Header:overlay">
		<nav class="Header--navMobile" data-ref="Header:navMobile">
			<ul class="MainNav">
				{% for item in mainNav %}
					<li class="MainNav--item{{ item.subNav ? ' has-subnav' : '' }}" data-ref="Header:navItem">
						<a class="MainNav--link{{ item.isActive ? ' is-active' : '' }}" href="{{ item.href }}" data-ref="Header:navLink">
							<span class="MainNav--link--icon">
								{% include '@svg' with {
										icon: 'arrow-left'
								} only %}
							</span>
							{{ item.text }}
						</a>
						{% if item.subNav %}
							<ul class="SubNav">
								{% for item in item.subNav %}
								<li class="SubNav--item">
									<a class="SubNav--link{{ item.isActive ? ' is-active' : '' }}" href="{{ item.href }}">
										{% if item.image is defined %}
											<span class="SubNav--icon">
												{% include '@image' with {
													image: item.image,
													preset: 'cardIcon'
												} only %}
											</span>
										{% endif %}
										{{ item.text }}
									</a>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>

		<div class="Header--metaNavMobile">
			<ul class="MetaNav">
				{% for item in serviceNav %}
					<li class="MetaNav--item">
						<a class="MetaNav--link tx-body-s" href="{{ item.href }}">{{ item.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="Header--langSelectMobile">
			<ul class="LangSelectMobile">
				{% for item in languages %}
				<li class="LangSelectMobile--item">
					<a class="LangSelectMobile--link tx-body-s {{ item.isActive ? ' is-active' : '' }}"
					   href="{{ item.href }}" title="{{ item.text }}" data-short="{{ item.short }}">
						<span class="LangSelectMobile--lang-text">{{ item.text }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
</div>
