{# Default values #}
{% set title = title | default('') %}
{% set image = image | default(false) %}
{% set lead = lead | default('') %}
{% set cta = cta | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Hero' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="HeroImage" data-js="HeroImage">
		<div class="HeroImage--background">
			{% include '@image' with {
				image: image,
				preset: 'preserve'
			} only %}
		</div>

		<div class="HeroImage--content">
			<h1 class="HeroImage--title color-blue-neon tx-title-xl">{{ title }}</h1>
		</div>

{#		Don't use this at the moment because of performance issues.#}
		<div class="HeroImage--scrollIndicator"></div>
	</div>

	{% if lead or cta %}
	<div class="HeroLead" data-js="HeroLead">
		<div class="wrapper">
			<div class="row">
				<div class="col-8-c col-tab-9-c col-mob-12">
					<div class="HeroLead--lead">
						<p>{{ lead }}</p>
					</div>

					{% if cta %}
					<div class="HeroLead--cta">
						{% include '@button' with {
							tag: 'a',
							text: cta.text,
							href: cta.href,
							target: cta.target
						} only %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
