{# Default values #}
{% set title = title | default(false) %}
{% set cta = cta | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'HomeExperience' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'HomeExperience'
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="HomeExperience--animation" data-ref="HomeExperience:animation"></div>

	<div class="HomeExperience--content" data-ref="HomeExperience:content">
		<div class="wrapper">
			<div class="row">
				<div class="col-6-c col-tab-7-c col-tabp-8-c col-mob-12">
					<div class="HomeExperience--contentInner">
						{% if title %}
						<p class="HomeExperience--title tx-title-xl">{{ title }}</p>
						{% endif %}

						{% if cta %}
						{% include '@button' with {
							tag: 'a',
							text: cta.text,
							href: cta.href,
							variants: 'secondary',
							ref: 'HomeExperience:cta'
						} only %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
