{# Default values #}
{% set slides = slides | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'ImageSlider' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{% set imageSlides = [] %}
{% for item in slides %}
	{% set content %}
		<figure class="ImageSlide">
			<div class="ImageSlide--img">
				{% include '@image' with {
					image: item.image
				} only %}
			</div>

			{% if item.caption is defined %}
			<figcaption class="ImageSlide--caption tx-body-s">
				{{ item.caption }}
			</figcaption>
			{% endif %}
		</figure>
	{% endset %}

	{% set imageSlides = imageSlides | merge([{content: content}]) %}
{% endfor %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="ImageSlider--sliderContainer">
			{% include '@slider' with {
				slides: imageSlides
			} only %}
		</div>
	</div>
</div>
