{# Default values #}
{% set image = image | default({}) %}
{% set preset = preset | default('default') %}
{% set noLazyload = noLazyload | default(false) %}
{% set preload = preload | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Keep config structure as is, because it's read by the config.js display the presets as variants. #}
{# Check https://github.com/aelvan/Imager-Craft for more config options. #}
{# START PRESETS #}
{% set presets = {
	default: [
		{width: 1920, height: 1080, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 1600, height: 900, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 1366, height: 768, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 1024, height: 576, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 768, height: 432, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 640, height: 360, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 16, height: 9, jpegQuality: 50, removeMetadata: true, effects: {blur: 1 }}
	],
	preserve: [
		{width: 1920, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 1600, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 1366, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 1024, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 768, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 640, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 10, jpegQuality: 50, removeMetadata: true, effects: {blur: 1 }}
	],
	feedLarge: [
		{width: 1024, height: 683, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 640, height: 427, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 3, height: 2, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']}
	],
	feedSmall: [
		{width: 1024, height: 1024, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 640, height: 640, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 10, height: 10, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']}
	],
	cardIcon: [
		{width: 128, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 64, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 10, jpegQuality: 50, removeMetadata: true, effects: {blur: 1 }}
	],
	textImageTeaser: [
		{width: 1366, height: 1821, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 1024, height: 1365, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 768, height: 1024, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 640, height: 853, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 3, height: 4, jpegQuality: 50, removeMetadata: true, effects: {blur: 1 }}
	],
	teaserCard: [
		{width: 768, height: 439, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 640, height: 366, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 480, height: 274, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 7, height: 4, jpegQuality: 50, removeMetadata: true, effects: {blur: 1 }}
	],
	newsItem: [
		{width: 1024, height: 1024, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 768, height: 768, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 640, height: 640, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 480, height: 480, jpegQuality: 72, pngCompressionLevel: 0, removeMetadata: true, optimizers: ['jpegtran', 'optipng']},
		{width: 10, height: 10, jpegQuality: 50, removeMetadata: true, effects: {blur: 1 }}
	]
} %}
{# END PRESETS #}

{# Variables #}
{% set classes = 'Image' %}
{% set classes = classes ~ (noLazyload == true ? ' no-lazyload' : ' lazyload') %}
{% if preload == true and noLazyload == false %} {% set classes = classes ~ ' lazypreload' %}{% endif %}
{% set classes = classes ~ ' ' ~ variants %}

{% set srcset = craft.imager.srcset(craft.imager.transformImage(image, presets[preset])) %}
{% set placeholder = craft.imager.transformImage(image, presets[preset] | last) %}

{% set attributes = {
	class: classes | trim,
	src: placeholder,
	alt: image.title ?? '',
	'data-sizes': noLazyload == false ? 'auto' : false,
	'data-ref': ref,
	'data-srcset': noLazyload == false ? srcset : false,
} %}

{# Component output #}
<img{{ attr(attributes) }}/>
