{# Default values #}
{% set heading = heading | default(false)  %}
{% set cards = cards | default([]) %}
{% set cta = cta | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'InfoCards' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		{% if heading %}
		<h2 class="InfoCards--heading tx-title-m color-blue-medium">{{ heading }}</h2>
		{% endif %}

		<div class="InfoCards--list">
			<div class="row">
				{% for item in cards %}
					<div class="col-4 col-tabp-12">
						<section class="InfoCards--card InfoCard">
							<div class="InfoCard--img">
								{% include '@image' with {
									image: item.image,
									preset: 'cardIcon'
								} only %}
							</div>

							<div class="InfoCard--title tx-title-s color-blue-medium">{{ item.title }}</div>

							<div class="InfoCard--text richtext">
								{{ item.text | raw }}
							</div>
						</section>
					</div>
				{% endfor %}
			</div>
		</div>

		{% if cta %}
		<div class="InfoCards--cta">
			{% include '@button' with {
				tag: 'a',
				text: cta.text,
				href: cta.href,
				target: cta.target is defined ? cta.target : '_self'
			} only %}
		</div>
		{% endif %}
	</div>
</div>
