{# Default values #}
{% set cta = cta | default(false) %}
{% set title = title | default('') %}
{% set text = text | default('') %}
{% set colorScheme = colorScheme | default('light') %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'InfoTeaser' %}
{% set classes = classes ~ ' color-scheme-' ~ colorScheme %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="InfoTeaser--background">
		<div class="wrapper">
			<div class="row">
				<div class="col-6-c col-tab-8-c col-tabp-10-c col-mob-12">
					<div class="InfoTeaser--content">
						<h2 class="InfoTeaser--title tx-title-l">{{ title }}</h2>

						<div class="InfoTeaser--text richtext">
							{{ text | raw }}
						</div>

						{% if cta %}
							<div class="InfoTeaser--cta">
								{% include '@button' with {
									tag: 'a',
									href: cta.href,
									text: cta.text,
									target: cta.target,
									variants: colorScheme == 'dark' ? 'secondary' : ''
								} only %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
