{# Default values #}
{% set name = name | default('') %}
{% set id = id | default(name) %}
{% set label = label | default(false) %}
{% set type = type | default('text') %}
{% set required = required | default(false) %}
{% set readonly = readonly | default(false) %}
{% set disabled = disabled | default(false) %}
{% set placeholder = placeholder | default(false) %}
{% set value = value | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}
{% set error = error | default(false) %}
{% set options = options | default([]) %}

{# Variables #}
{% set classes = 'Input' %}
{% set classes = classes ~ (disabled ? ' disabled' : '') %}
{% set classes = classes ~ (error ? ' has-error' : '') %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{% set inputAttributes = {
	class: type == 'select' ? 'Input--select' : 'Input--input',
	name: name,
	id: id,
	type: type in ['select', 'textarea'] ? false : type,
	disabled: disabled,
	required: required,
	placeholder: type == 'select' ? false : placeholder,
	value: type == 'textarea' ? false : value,
	readonly: type == 'select' ? false : readonly,
	rows: type == 'textarea' ? 6 : false,
	pattern: type == 'tel' ? '^[0-9-+\s()]*$' : false
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	{% if label %}
		<label class="Input--label tx-body-s" for="{{ id }}">{{ label }}{% if required %} *{% endif %}</label>
	{% endif %}

	<div class="Input--wrapper">
		{% switch type %}
			{% case 'select' %}
				<select{{ attr(inputAttributes) }}>
					{% for item in options %}
					<option{{ attr({
						value: item.value,
						selected: item.selected is defined ? item.selected : false,
						disabled: item.disabled is defined ? item.selected : false
					}) }}>{{ item.label }}</option>
					{% endfor %}
				</select>

				<div class="Input--selectIcon">
					{% include '@svg' with {
						icon: 'arrow-down'
					} only %}
				</div>
			{% case 'textarea' %}
				<textarea{{ attr(inputAttributes) }}>{{ value }}</textarea>
			{% default %}
				<input{{ attr(inputAttributes) }}/>
		{% endswitch %}

		<span class="Input--decoration"></span>

		<p class="Input--error tx-body-s" data-ref="Input:errorMessage">{{ error ? error | t : '' }}</p>
	</div>
</div>
