{# Default values #}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'LangSelect' %}
{% set classes = classes ~ ' tx-body-s' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set currentShortName = '' %}
{% for item in languages %}
	{% if item.isActive %}
		{% set currentShortName = item.short %}
	{% endif %}
{% endfor %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'LangSelect'
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<button class="LangSelect--current" data-ref="LangSelect:current">
		<span class="LangSelect--link">{{ currentShortName | upper }}</span>

		{% include '@svg' with {
			icon: 'arrow-down'
		} only %}
	</button>

	<ul class="LangSelect--list" data-ref="LangSelect:list">
		{% for item in languages %}

		<li class="LangSelect--item">
			<a class="LangSelect--link{{ item.isActive ? ' is-active' : '' }}" href="{{ item.href }}">
				{{ item.text }} ({{ item.short | upper }})
			</a>
		</li>

		{% endfor %}
	</ul>
</div>
