{# Default values #}
{% set text = text | default('') %}
{% set href = href | default('#') %}
{% set target = target | default('_self') %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Link' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	href: href,
	target: target,
	rel: target == '_blank' ? 'noreferrer noopener' : false,
	'data-ref': ref
} %}

{# Component output #}
<a{{ attr(attributes) }}>
	<span>{{ text }}</span>
</a>
