{# Default values #}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Loader' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="Loader--dot1"></div>
	<div class="Loader--dot2"></div>
	<div class="Loader--dot3"></div>
</div>
