{# Default values #}
{% set heading = heading | default(false) %}
{% set info = info | default('')  %}
{% set cta = cta | default(false) %}
{% set ref = ref | default(false) %}
{% set address = address | default(false) %}
{% set lat = lat | default(0) %}
{% set lng = lng | default(0) %}
{% set language = language | default('en') %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Location' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'Location'
} %}

{% set mapsUrl = 'https://maps.google.com/maps?q=' ~ (address ? (address | url_encode) : ([lat, lng] | join(','))) ~ '&output=embed&z=17&hl=' ~ language %}

{# Component output #}
<div{{ attr(attributes) }}>
	{% if heading %}
	<div class="wrapper">
		<h2 class="Location--heading tx-title-m color-blue-medium">{{ heading }}</h2>
	</div>
	{% endif %}

	<div class="wrapper">
		<div class="row">
			<div class="col-4 col-offset-1 col-tabp-6 col-mob-12">
				<div class="Location--content">
					<div class="Location--contentInner">
						<div class="Location-info richtext">
							{{ info | raw }}
						</div>

						{% if cta %}
						<div class="Location--cta">
							{% include '@button' with {
								tag: 'a',
								text: cta.text,
								href: cta.href,
								target: cta.target
							} only %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="col-6 col-offset-1 col-tabp-6 col-mob-12">
				<div class="Location--mapContainer">
					<div class="Location--map">
						<div class="Location--mapInner">
							{% include '@loader' with {ref: 'Location:loader'} only %}

							<iframe class="Location--mapIframe" frameborder="0" style="border:0;" allowfullscreen="" data-src="{{ mapsUrl }}" data-ref="Location:map"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
