{# Default values #}
{% set type = type | default('default') %}
{% set text = text | default('') %}
{% set href = href | default('')  %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Logo' %}
{% set classes = classes ~ ' ' ~ type %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'Logo',
	href: href
} %}

{# Component output #}
<a{{ attr(attributes) }}>
	<span class="visuallyhidden">{{ text }}</span>
	<div class="Logo--RU" data-ref="Logo:ru"></div>

	<svg class="Logo--text" xmlns="http://www.w3.org/2000/svg" fill="none" width="204" height="80" viewBox="0 0 204 80">
{#								<path fill="#0FF" d="M23.5736 24.9302c1.2899-3.5322 3.9597-6.3943 7.4018-7.935 3.4421-1.5406 7.3637-1.6287 10.872-.2441 6.9713 2.7578 10.5118 10.8163 7.8943 17.9745l-.1362.3767c-2.2998 6.303-7.6863 6.3067-10.5913 6.2954a10.16918 10.16918 0 00-1.513.0603c-.7183.0946-1.3635.4856-1.7779 1.0775-.3125.4967-.3952 1.1035-.2269 1.6652.1791.6243.5831 1.1609 1.1348 1.507l27.5865 16.0757c.6534.3923 1.3606.688 2.0994.8778 6.2693 1.5003 12.6695-1.9303 14.8656-7.9682L100.879.76586h-3.0679L78.4744 53.721c-1.0291 2.8318-3.3216 5.026-6.2035 5.9375a9.66403 9.66403 0 01-5.0725.2336c-2.7412-.6085-5.087-2.3625-6.4388-4.8144s-1.5789-5.3646-.6233-7.9949L71.5711 15.813h-3.0677L57.4279 46.092a12.48792 12.48792 0 00-.087 8.3411l-1.653-.9645c-.5972-2.5982-.4278-5.3129.488-7.8174l10.8977-29.857h-3.0677L53.4562 44.6566c-.8142 2.2236-1.1442 4.5943-.9683 6.9547l-12.6113-7.3579c3.4044-.0489 9.6986-.6781 12.441-8.1791l.1324-.3767c3.1472-8.6086-1.1348-18.2985-9.5359-21.6101-4.2329-1.6689-8.9636-1.5611-13.1154.2989-4.1518 1.86-7.3714 5.3139-8.9259 9.5756L.60937 79.3434h3.0677L23.5736 24.9302z"/>#}
{#								<path fill="#0FF" d="M102.294.76586L82.431 55.1564c-2.01 5.493-7.2481 9.1531-13.1181 9.1662a14.39278 14.39278 0 01-4.8606-.8816L35.9201 46.8078c-.8324-.5181-1.4449-1.3224-1.7211-2.2605-.2636-.9181-.1263-1.9043.3782-2.7163.6136-.9077 1.5834-1.5151 2.6706-1.6728a10.9874 10.9874 0 011.7589-.0791c2.9315 0 7.3534 0 9.3392-5.4213l.1362-.3768c2.3717-6.4913-.8284-13.7888-7.1302-16.2716-3.1742-1.2521-6.7219-1.1722-9.836.2215-3.1142 1.3936-5.53 3.9825-6.6978 7.1778L5.0918 79.3509h3.06769L27.5416 26.3807c.9-2.4676 2.7645-4.4671 5.1689-5.5431 2.4043-1.076 5.1436-1.1367 7.5936-.1683 4.8644 1.9138 7.3231 7.5763 5.481 12.6171l-.1362.3768c-1.1953 3.2739-3.3778 3.5338-6.5666 3.5338h-.0605a12.735 12.735 0 00-2.2696.1243c-1.8826.2925-3.5533 1.364-4.5996 2.95-.9494 1.4868-1.2242 3.3038-.7565 5.0031.4478 1.612 1.4732 3.0046 2.8823 3.9144l25.6083 15.1338c2.7863 1.868 6.0675 2.8686 9.4262 2.8746 7.0813-.0159 13.4011-4.4288 15.8302-11.0537L105.361.76209l-3.067.00377z"/>#}

		<g class="Logo--racing">
			<path fill="#0FF" fill-rule="evenodd" d="M114.742 34.0813c.054-.3966-.023-.8-.22-1.149-.198-.2383-.504-.3613-.813-.3278h-3.242l-1.838 5.0032h-3.196l5.276-14.3653h7.274c1.207 0 2.134.2863 2.758.8477.642.5891.906 1.4832.684 2.3245-.042.2222-.104.4403-.185.6518l-.507 1.3939c-.271.7311-.727 1.38-1.324 1.8837-.568.4863-1.222.8631-1.929 1.1114.229.2392.391.5341.469.8552.1.5111.131 1.0331.091 1.5522l-.189 3.7411h-3.268l.159-3.5226zm3.309-7.0413a.93523.93523 0 00.057-.2072c.054-.1969.012-.4074-.113-.5689-.165-.1548-.388-.2316-.613-.211h-4.502l-1.388 3.7675h3.87c.493.0074.977-.1373 1.384-.4145.386-.257.679-.6307.836-1.0661l.469-1.2998z" clip-rule="evenodd"/>
			<path fill="#0FF" fill-rule="evenodd" d="M134.612 23.2386c1.24 0 1.52.7573 1.539 1.394l.288 12.9713h-3.193l-.022-3.2475h-4.959l-2.425 3.2475h-3.495l10.924-14.3653h1.343zm-4.441 8.3939h3.155l-.004-4.2308-3.151 4.2308z" clip-rule="evenodd"/>
			<path fill="#0FF" d="M151.834 32.0884c-.278.8064-.757 1.5296-1.392 2.1022-.517.4724-1.19.7403-1.891.7535h-2.141c-.449.0458-.889-.1475-1.158-.5086a1.91437 1.91437 0 01-.181-1.4655c.058-.2552.132-.5068.219-.7535l1.256-3.4284c.271-.8143.754-1.5423 1.4-2.1098.554-.4845 1.267-.7522 2.004-.7535h2.1c.431-.0457.856.1252 1.135.4559.242.3866.311.8567.189 1.296-.042.2143-.101.4248-.178.6292l-.102.2712h3.162l.049-.1356c.128-.3474.229-.7038.303-1.0662.249-1.296 0-2.3471-.708-3.127-.707-.7798-1.808-1.1641-3.264-1.1641h-2.103c-1.553-.015-3.064.4965-4.286 1.4504-1.297 1.0373-2.271 2.4212-2.806 3.9898l-1.343 3.6732c-.131.3693-.238.7469-.318 1.1303-.257 1.3487 0 2.4413.715 3.2437.715.8025 1.846 1.2056 3.329 1.2056h2.144c1.524.0074 3.003-.5134 4.184-1.4731 1.292-1.073 2.263-2.4793 2.807-4.065l.102-.2751h-3.159l-.068.1244z"/>
			<path fill="#0FF" d="M167.388 23.2386h-3.196l-5.281 14.3653h3.2l5.277-14.3653z"/>
			<path fill="#0FF" d="M186.381 23.2386h-3.136l-3.352 9.0947-3.211-9.0947h-2.629l-5.281 14.3653h3.14l3.348-9.0946 3.211 9.0946h2.633l5.277-14.3653z"/>
			<path fill="#0FF" d="M202.74 25.0772c-.28-.6537-.784-1.1875-1.422-1.507a5.25393 5.25393 0 00-2.432-.5124h-2.224c-1.554-.015-3.067.4965-4.29 1.4505-1.296 1.0374-2.268 2.4214-2.803 3.9897l-1.343 3.6733c-.133.3686-.239.7463-.317 1.1302-.258 1.3487 0 2.4413.726 3.2438.734.7987 1.861 1.2055 3.355 1.2055h2.364c1.486.0164 2.934-.4652 4.112-1.3675 1.24-.9725 2.171-2.2807 2.682-3.7675l1.135-3.1081h-7.032l-1.029 2.7992h3.881l-.061.1657c-.241.7063-.676 1.3313-1.256 1.8047-.523.4164-1.175.6412-1.845.6366h-2.365c-.458.0468-.908-.1473-1.187-.5123-.26-.4415-.328-.9692-.189-1.4618.056-.2556.13-.5073.219-.7535l1.256-3.4284c.271-.8142.754-1.5423 1.399-2.1097.554-.484 1.265-.7517 2.001-.7535h2.225c.438-.0717.881.0931 1.165.4333.284.3401.366.8046.215 1.2206-.019.0904-.06.2486-.132.4785l-.076.2599h3.136l.049-.1281c.114-.2955.202-.6006.261-.9117.158-.7249.096-1.4802-.178-2.17z"/>

		</g>

		<g class="Logo--unleashed">
			<path fill="#0FF" d="M105.985 52.636c-.203.6023-.57 1.137-1.059 1.5446-.434.3552-.978.5496-1.539.5501h-1.411c-.388.0315-.767-.1257-1.018-.422-.226-.3395-.294-.7599-.185-1.1528.019-.0942.068-.26.147-.5048l2.274-6.2464v-.0302h-1.01l-2.2888 6.2314a4.05744 4.05744 0 00-.174.6404c-.1662.6001-.0402 1.243.3408 1.7368.449.4604 1.082.6967 1.724.6442h1.408c.825.0095 1.628-.2691 2.269-.7874.697-.5891 1.221-1.3562 1.513-2.219l2.27-6.2162v-.0302h-1.01l-2.251 6.2615z"/>
			<path fill="#0FF" d="M117.28 53.932l-2.319-7.5386-.007-.0151h-.889l-3.352 9.121-.011.0263h.987l2.754-7.4972 2.33 7.4822.004.015h.893l3.351-9.1172.008-.0301h-.984l-2.765 7.5537z"/>
			<path fill="#0FF" d="M126.839 46.4047v-.0302h-1.01l-3.045 8.2884c-.023.0651-.041.1318-.053.1997-.049.1719-.012.3565.098.4973.139.1312.328.1958.519.177h5.095l.31-.8703v-.0301h-4.94l3.026-8.2318z"/>
			<path fill="#0FF" d="M132.675 54.6403c-.022.0651-.04.1318-.052.1997-.047.1738-.012.3592.094.5048.134.1312.32.1973.507.1808h5.296l.332-.874h-5.167l1.237-3.3643h4.778l.31-.8477v-.0264h-4.766l1.172-3.1609h5.156l.31-.8439v-.0301h-6.165l-3.042 8.262z"/>
			<path fill="#0FF" fill-rule="evenodd" d="M150.624 52.1538h.019l-.022.0527.049 3.3191h-.954v-2.5242h-3.99l-1.865 2.5242h-1.116l6.888-9.1473h.454c.299 0 .458.1657.458.5425l.079 5.233zm-4.289 0h3.347l-.022-4.4607-3.325 4.4607z" clip-rule="evenodd"/>
			<path fill="#0FF" d="M162.017 46.2766h-1.475c-.706-.0147-1.4.1765-1.998.55-.568.3659-.999.9091-1.225 1.5447l-.265.7007a2.4875 2.4875 0 00-.087.3165c-.097.402-.002.8262.257 1.149.31.3401.734.5558 1.192.6066l2.209.3767c.269.0372.518.1601.711.3504.154.1648.217.394.17.6141a.94698.94698 0 01-.045.1658l-.318.8326c-.141.3864-.418.7089-.779.9079-.416.2264-.884.3394-1.358.3278h-1.449c-.364.0271-.722-.1114-.972-.3768a1.14442 1.14442 0 01-.193-.9983c.028-.141.067-.2796.117-.4144v-.0264h-.983c-.068.1798-.12.3651-.155.5538-.152.5476-.018 1.1343.355 1.5635.447.4173 1.05.6279 1.661.5802h1.513c.713.0214 1.416-.1659 2.024-.5388.572-.3793 1.004-.9351 1.229-1.5823l.318-.8326c.032-.099.06-.1996.083-.3014.095-.399-.008-.8192-.276-1.1302-.323-.3384-.753-.5543-1.218-.6104l-2.194-.4031a1.17098 1.17098 0 01-.689-.3579c-.153-.1724-.213-.4088-.158-.6329.007-.057.022-.1128.045-.1658l.261-.7007c.146-.3716.413-.6843.756-.8891.394-.2225.842-.3332 1.294-.3203h1.475c.323-.027.641.0887.87.3165.191.2519.254.5773.171.8816-.027.1179-.063.2338-.106.3466v.0264h.983c.076-.2261.125-.3956.148-.4973.138-.5044.011-1.0443-.337-1.4354-.43-.3719-.995-.5516-1.562-.4973z"/>
			<path fill="#0FF" d="M174.209 50.466h-4.997l1.486-4.0576.012-.0301h-1.01l-3.352 9.121-.011.0263h1.014l1.524-4.163h4.997l-1.517 4.1367-.008.0263h1.01l3.348-9.1172.011-.0301h-1.01l-1.497 4.0877z"/>
			<path fill="#0FF" d="M179.039 54.6403c-.021.0652-.038.132-.049.1997-.048.1738-.013.3599.094.5048.133.1319.317.1983.503.1808h5.296l.333-.874h-5.167l1.237-3.3643h4.766l.306-.8477v-.0264h-4.766l1.169-3.1609h5.16l.306-.8439v-.0301h-6.162l-3.026 8.262z"/>
			<path fill="#0FF" fill-rule="evenodd" d="M192.38 46.3783h3.783c.706-.0498 1.401.1959 1.917.6781.428.4792.584 1.1406.417 1.7594-.039.2053-.094.4069-.167.6028l-1.036 2.8557c-.313.958-.893 1.8075-1.672 2.4489-.755.5561-1.675.844-2.614.8175h-3.109a.6723.6723 0 01-.519-.1771c-.11-.1406-.146-.326-.094-.4973.012-.0675.028-.1342.049-.1996l3.045-8.2884zm4.929 3.0064c.06-.1651.111-.3336.151-.5048.116-.4101.023-.8507-.25-1.1792-.344-.3086-.801-.4613-1.263-.422h-2.909l-2.701 7.3465h2.815c.68.0178 1.346-.1933 1.891-.599.571-.4638.996-1.0809 1.226-1.7782l1.04-2.8633z" clip-rule="evenodd"/>

		</g>
	</svg>
</a>
