{# Default values #}
{% set itemDate = itemDate | default('') %}
{% set title = title | default('') %}
{% set text = text | default('') %}
{% set image = image | default({}) %}
{% set url = url | default('') %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'NewsItem' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{% set dateStr = itemDate | date('d.m.y') %}

{# Component output #}
<article{{ attr(attributes) }}>
	<a class="NewsItem--link color-scheme-light" href="{{ url }}">
		<div class="wrapper">
			<div class="NewsItem--inner">
				<div class="row">
					<div class="NewsItem--dateCol col-2 col-mob-12">
						<div class="NewsItem--pubdate tx-title-xs color-blue-medium"><time datetime="{{ itemDate }}">{{ dateStr }}</time></div>
					</div>

					<div class="NewsItem--contentCol col-5 col-mob-12">
						<h1 class="NewsItem--title tx-title-m color-blue-medium">{{ title }}</h1>

						<div class="NewsItem--text richtext">{{ text | raw }}</div>
					</div>

					<div class="NewsItem--imageCol col-4 col-offset-1 col-mob-12">
						<div class="NewsItem--image">
							{% include '@image' with {
								image: image,
								preset: 'newsItem'
							} only %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
</article>
