{# Default values #}
{% set url = url | default('') %}
{% set title = title | default('') %}
{% set image = image | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'NextArticleTeaser' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'NextArticleTeaser'
} %}

{# Component output #}
<a{{ attr(attributes) }} href="{{ url }}">
	{% if image %}
	<div class="NextArticleTeaser--background">
		{% include '@image' with {
			image: image,
			preset: 'preserve',
			ref: 'NextArticleTeaser:image'
		} only %}
	</div>
	{% endif %}

	<div class="NextArticleTeaser--inner">
		<div class="wrapper">
			<div class="NextArticleTeaser--content">
				<span class="NextArticleTeaser--next tx-body">{{ 'Up next' | t }}</span>
				<span class="NextArticleTeaser--line"></span>
				<span class="NextArticleTeaser--title tx-title-l color-blue-neon">{{ title }}</span>
			</div>
		</div>
	</div>
</a>
