{# Default values #}
{% set heading = heading | default('') %}
{% set panoramaAppUrl = panoramaAppUrl | default('') %}

{# Variables #}
{% set classes = 'Panorama' %}
{% set classes = classes ~ ' color-scheme-light' %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'Panorama'
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<h2 class="Panorama--heading color-blue-medium tx-title-m tx-center">{{ heading }}</h2>
	</div>

	<div class="Panorama--app">
		{% include '@loader' with {ref: 'Panorama:panoloader'} only %}

		<iframe data-src="{{ panoramaAppUrl }}" frameborder="0" data-ref="Panorama:iframe"></iframe>
	</div>
</div>
