{# Default values #}
{% set title = title | default('') %}
{% set text = text | default('') %}
{% set infoTable = infoTable | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'RankingInfo' %}
{% set classes = classes ~ ' color-scheme-white' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="row">
			<div class="col-4 col-offset-1 col-tabp-10-c col-mob-12">
				<div class="RankingInfo--content">
					<h2 class="RankingInfo--title tx-title-m color-blue-medium">{{ title }}</h2>

					<div class="RankingInfo--text richtext">{{ text | raw }}</div>
				</div>
			</div>
			<div class="col-5 col-offset-1 col-tabp-10-c col-mob-12">
				<table class="RankingInfo--table">
					<thead>
					<tr>
						<th class="tx-title-xs color-blue-medium">{{ 'Rank' | t }}</th>
						<th class="tx-title-xs color-blue-medium">{{ 'Points' | t }}</th>
						<th class="tx-title-xs color-blue-medium">{{ 'Price money' | t }}</th>
					</tr>
					</thead>

					<tbody class="tx-body">
					{% for row in infoTable | sort((a, b) => a.rank <=> b.rank) %}
						<tr>
							<td>{{ row.rank }}</td>
							<td>{{ row.points }}</td>
							<td>{{ row.prize }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
