{# Default values #}
{% set ranking = ranking | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'RankingTable' %}
{% set classes = classes ~ ' color-scheme-white' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="row">
			<div class="col-6-c col-tab-8-c col-tabp-10-c col-mob-12">
				<table class="RankingTable--table">
					<thead>
					<tr>
						<th class="tx-title-xs color-blue-medium">{{ 'Rank' | t }}</th>
						<th class="tx-title-xs color-blue-medium">{{ 'Racer' | t }}</th>
						<th class="tx-title-xs color-blue-medium">{{ 'Points' | t }}</th>
					</tr>
					</thead>

					<tbody class="tx-body">
					{% for row in ranking | sort((a, b) => a.rank <=> b.rank) %}
						<tr>
							<td>{{ row.rank }}</td>
							<td>{{ row.racer }}</td>
							<td>{{ row.points }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
