{# Default values #}
{% set rating = rating | default(5) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Rating' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	{% for i in 1..5 %}
	{% set filled = rating >= i %}
		{% if filled %}
			{% include '@svg' with {
				icon: 'star-filled'
			} only %}
		{% else %}
			{% include '@svg' with {
				icon: 'star'
			} only %}
		{% endif %}
	{% endfor %}
</div>
