{# Default values #}
{% set slides = slides | default([])  %}
{% set prevNextButtons = prevNextButtons is defined ? prevNextButtons : true %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}
{% set dataOptions = dataOptions | default([]) %}

{# Variables #}
{% set classes = 'Slider' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set dataOptions = dataOptions | merge({prevNextButtons: (slides|length > 1 and prevNextButtons)}) %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'Slider',
	'data-options': dataOptions
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	{% for slide in slides %}
	<div class="Slider--slide" data-ref="Slider:slide">
		{{ slide.content | raw }}
	</div>
	{% endfor %}
</div>
