{# Default values #}
{% set heading = heading | default(false) %}
{% set cta = cta | default(false) %}
{% set curatorApiKey = curatorApiKey | default('') %}
{% set curatorFeedName = curatorFeedName | default('') %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'SocialMediaFeed' %}
{% set classes = 'SocialMediaFeed layout-2' %}
{% set classes = classes ~ ' color-scheme-dark' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'SocialMediaFeed',
	'data-options': {
		curatorApiKey: curatorApiKey | base64_encode,
		curatorFeedName: curatorFeedName
	}
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		{% if heading %}
		<h2 class="SocialMediaFeed--heading tx-title-m color-blue-neon">{{ heading }}</h2>
		{% endif %}
	</div>

	<div class="wrapper">
		<div class="FeedGrid--grid">
			<div class="FeedGrid--cell small">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="0">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell small">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="1">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell medium">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="2">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell small">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="3">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell small">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="4">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell medium">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="5">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell small">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="6">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell small">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="7">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell small">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="8">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell small">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="9">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			<div class="FeedGrid--cell double">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--fb" data-ref="SocialMediaFeed:facebook" data-index="0">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if cta %}
	<div class="wrapper">
		<div class="SocialMediaFeed--cta">
			{% include '@button' with {
				tag: 'a',
				href: cta.href,
				text: cta.text,
				target: cta.target,
				variants: 'secondary'
			} only %}
		</div>
	</div>
	{% endif %}
</div>
