{# Default values #}
{% set heading = heading | default(false) %}
{% set cta = cta | default(false) %}
{% set twitchClientId = twitchClientId | default('') %}
{% set twitchUser = twitchUser | default('') %}
{% set curatorApiKey = curatorApiKey | default('') %}
{% set curatorFeedName = curatorFeedName | default('') %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'SocialMediaFeed layout-1' %}
{% set classes = classes ~ ' color-scheme-dark' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'SocialMediaFeed',
	'data-options': {
		twitchClientId: twitchClientId,
		twitchUser: twitchUser,
		curatorApiKey: curatorApiKey | base64_encode,
		curatorFeedName: curatorFeedName
	}
} %}

{# Component output #}
<section{{ attr(attributes) }}>
	<div class="wrapper">
		{% if heading %}
		<h2 class="SocialMediaFeed--heading tx-title-m color-blue-neon">{{ heading }}</h2>
		{% endif %}
	</div>

	<div class="wrapper">
		<div class="FeedGrid--grid">
			<div class="FeedGrid--cell large">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--twitch" data-ref="SocialMediaFeed:twitch">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>

			{% for i in 1..10 %}
				<div class="FeedGrid--cell small">
					<div class="FeedGrid--cellContent">
						<div class="FeedGrid--cellInner">
							<div class="SocialMediaFeed--ig" data-ref="SocialMediaFeed:instagram" data-index="{{ loop.index0 }}">
								{% include '@loader' %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="FeedGrid--cell double">
				<div class="FeedGrid--cellContent">
					<div class="FeedGrid--cellInner">
						<div class="SocialMediaFeed--fb" data-ref="SocialMediaFeed:facebook" data-index="0">
							{% include '@loader' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if cta %}
	<div class="wrapper">
		<div class="SocialMediaFeed--cta">
			{% include '@button' with {
				tag: 'a',
				href: cta.href,
				text: cta.text,
				target: cta.target,
				variants: 'secondary'
			} only %}
		</div>
	</div>
	{% endif %}
</section>
