{# Params #}
{% set icon = icon | default('placeholder') %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'SvgIcon' %}
{% set classes = classes ~ ' svg-' ~ icon ~ '-dims' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim
} %}

<span{{ attr(attributes) }}>
	<svg xmlns="http://www.w3.org/2000/svg">
		<use xlink:href="#{{ icon }}" href="#{{ icon }}"></use>
	</svg>
</span>
