{# Default values #}
{% set heading = heading | default(false) %}
{% set cards = cards | default([]) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('3-columns') %}

{# Variables #}
{% set classes = 'TeaserCards' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		{% if heading %}
		<h2 class="TeaserCards--heading tx-title-m color-blue-medium">{{ heading }}</h2>
		{% endif %}

		<div class="TeaserCards--list">
			<div class="row">
				{% for item in cards %}
				{% set classes = '' %}
				{% if loop.index0 % 2 == 1 and variants == '2-columns' %}
					{% set classes = 'col-offset-2' %}
				{% elseif loop.index0 % 2 == 0 and variants == '2-columns' %}
					{% set classes = 'col-offset-1' %}
				{% endif %}

				<div class="col-4 col-tabp-6 col-mob-12 {{ classes }}">
					<div class="TeaserCards__Teaser TeaserCard">
						<div class="TeaserCard--img">
							{% include '@image' with {
								image: item.image,
								preset: 'teaserCard'
							} only %}
						</div>

						<h3 class="TeaserCard--title tx-title-s color-blue-medium">{{ item.title }}</h3>

						<div class="TeaserCard--text tx-body richtext">{{ item.text | raw }}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
