{# Default values #}
{% set heading = heading | default(false) %}
{% set testimonials = testimonials | default([]) %}
{% set cta = cta | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'Testimonials' %}
{% set classes = classes ~ ' color-scheme-white' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref
} %}

{% set slides = [] %}
{% for item in testimonials %}
	{% set content %}
		<div class="Testimonial">
			<blockquote>
				<p class="Testimonial--quote color-blue-medium">
					{{ item.quote }}
				</p>

				<footer>
					<div class="Testimonial--rating">
						{% include '@rating' with {rating: item.rating} only %}
					</div>

					<cite>{{ item.name }}</cite>
				</footer>
			</blockquote>
		</div>
	{% endset %}

	{% set slides = slides | merge([{
		content: content
	}]) %}
{% endfor %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="Testimonials--background">
		{% if heading %}
			<div class="wrapper">
				<h2 class="Testimonials--heading tx-title-xs color-blue-medium">{{ heading }}</h2>
			</div>
		{% endif %}

		<div class="wrapper">
			{% include '@slider' with {
				slides: slides
			} only %}
		</div>

		{% if cta %}
			<div class="wrapper">
				<div class="Testimonials--cta">
					{% include '@button' with {
						tag: 'a',
						text: cta.text,
						href: cta.href
					} only %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
