{# Default values #}
{% set cta = cta | default(false) %}
{% set title = title | default('') %}
{% set text = text | default('') %}
{% set colorScheme = colorScheme | default('light') %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'TextImageTeaser' %}
{% set classes = classes ~ ' color-scheme-' ~ colorScheme %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'TextImageTeaser'
} %}

{# Component output #}
<section{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="row TextImageTeaser--row">
			<div class="TextImageTeaser--imageColumn">
				<div class="TextImageTeaser--image">
					<div class="TextImageTeaser--imageInner">
						{% include '@image' with {
							image: image,
							preset: 'textImageTeaser'
						} only %}
					</div>
				</div>
			</div>

			<div class="TextImageTeaser--textColumn">
				<div class="TextImageTeaser--content">
					<h2 class="TextImageTeaser--title tx-title-m">{{ title }}</h2>

					<div class="TextImageTeaser--text richtext">
						{{ text | raw }}
					</div>

					{% if cta %}
						<div class="TextImageTeaser--cta">
							{% include '@button' with {
								tag: 'a',
								href: cta.href,
								text: cta.text,
								target: cta.target,
								variants: colorScheme == 'dark' ? 'secondary' : ''
							} only %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
