{# Default values #}
{% set title = title | default('') %}
{% set text = text | default('') %}
{% set image = image | default({}) %}
{% set cta = cta | default(false) %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'TextImage' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'TextImage'
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="row TextImage--row">
			<div class="TextImage--imageColumn">
				<div class="TextImage--image">
					<div class="TextImage--imageInner">
						{% include '@image' with {
							image: image,
							preset: 'textImageTeaser'
						} only %}
					</div>
				</div>
			</div>

			<div class="TextImage--textColumn">
				<div class="TextImage--content">
					<div class="TextImage--contentInner">
						<h2 class="TextImage--title tx-title-m color-blue-medium">{{ title }}</h2>

						<div class="TextImage--text richtext">{{ text | raw }}</div>

						{% if cta %}
							<div class="TextImage--cta">
								{% include '@button' with {
									tag: 'a',
									href: cta.href,
									text: cta.text,
									target: cta.target,
									variants: colorScheme == 'dark' ? 'secondary' : ''
								} only %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
