{# Default values #}
{% set title = title | default('') %}
{% set text = text | default('') %}
{% set ref = ref | default(false) %}
{% set variants = variants | default('') %}

{# Variables #}
{% set classes = 'TextCentered' %}
{% set classes = classes ~ ' color-scheme-light' %}
{% set classes = classes ~ ' ' ~ variants %}

{% set attributes = {
	class: classes | trim,
	'data-ref': ref,
	'data-js': 'TextCentered'
} %}

{# Component output #}
<div{{ attr(attributes) }}>
	<div class="wrapper">
		<div class="row TextCentered--row">
			<div class="TextCentered--content">
				<h2 class="TextCentered--title tx-title-m color-blue-medium">{{ title }}</h2>

				<div class="TextCentered--text richtext">{{ text | raw }}</div>
			</div>
		</div>
	</div>
</div>
