{#
`media` should be an object with (at least) the following properties:
 - `code`: the video embed-code
 - `width`: video width
 - `height`: video height
#}
{% set media = media | default('') %}

{% if media %}

	{# calculate inverse ratio, but don't allow higher than 4/3 #}
	{% set ratio = min(media.height / media.width, 3/4) %}

	<div class="VideoEmbed">
		<div class="wrapper">
			<div class="VideoEmbed--wrapper">
				<div class="VideoEmbed--media" style="--ratio: {{ ratio }};">
					{{ media.code | raw }}
				</div>
			</div>
		</div>
	</div>
{% endif %}
