{% set header = GlobalHelper.getHeader(headerSetting, entry) %}
{% set footer =  GlobalHelper.getFooter(footerSetting) %}

{%- block htmlPage -%}
	<!DOCTYPE html>
	<html lang="{{ craft.app.locale.languageID }}">
	{% block headTag %}
	<head>
		{% endblock headTag %}
		<title>{{ generalSettings.pageTitle ?? 'Formula V' }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png?v=1">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png?v=1">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png?v=1">
		<link rel="manifest" href="/assets/img/favicons/site.webmanifest?v=1">
		<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg?v=1" color="#000047">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico?v=1">
		<meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml?v=1">

		<link rel="stylesheet" type="text/css" href="/assets/css/{{ rev('main.css') }}?20210606">

		{% block meta %}
			<meta name="title" content="{{ entry.metaTitle ?? generalSettings.metaTitle~entry.title }}">
			<meta name="description" content="{{ entry.metaDescription }}">

			<meta property="og:title" content="{{ entry.metaTitle ?? generalSettings.metaTitle~' | '~entry.title }}"/>
			<meta property=“og:description“
				  content="{{ entry.metaDescription ?? generalSettings.metaDescription ?? '' }}"/>
			<meta property="og:image"
				  content="{{ entry.metaImage.one().url ?? generalSettings.metaImage.one().url ?? '' }}"/>
			<meta property="og:image:width"
				  content="{{ entry.metaImage.one().width ?? generalSettings.metaImage.one().width ?? '' }}"/>
			<meta property="og:image:height"
				  content="{{ entry.metaImage.one().height ?? generalSettings.metaImage.one().height ?? '' }}"/>
			<meta property="og:type" content="website"/>
			<meta property="og:site_name" content="{{ generalSettings.pageTitle ?? 'Raceing Unleased' }}"/>

			<meta name="twitter:title"
				  content="{{ entry.metaTitle ?? generalSettings.metaTitle~' | '~entry.title }}"/>
			<meta name="twitter:description"
				  content="{{ entry.metaDescription ?? generalSettings.metaDescription ?? '' }}"/>
			<meta name="twitter:card" content="summary_large_image"/>
			<meta name="twitter:image"
				  content={{ entry.metaImage.one().url ?? generalSettings.metaImage.one().url ?? '' }}/>
		{% endblock meta %}

		<meta name="_globalsign-domain-verification" content="iwxamD7Qkj7G9Q3pEDpT-vGwI4dJQmRAeImR5TrzK-" />

		{% if generalSettings.googleAnalyticsKey is defined and generalSettings.googleAnalyticsKey is not empty %}

			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ generalSettings.googleAnalyticsKey }}"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '{{ generalSettings.googleAnalyticsKey }}');
			</script>

			<!-- End Google Analytics -->
		{% endif %}

		{% if generalSettings.googleTagApiKey is defined and generalSettings.googleTagApiKey is not empty %}
			<!-- Google Tag Manager -->
			<script>(function (w, d, s, l, i) {
					w[l] = w[l] || [];
					w[l].push({
						'gtm.start':
							new Date().getTime(), event: 'gtm.js'
					});
					var f  = d.getElementsByTagName(s)[0],
						j  = d.createElement(s),
						dl = l != 'dataLayer' ? '&l=' + l : '';
					j.async = true;
					j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
					f.parentNode.insertBefore(j, f);
				})(window, document, 'script', 'dataLayer', '{{ generalSettings.googleTagApiKey }}');</script>
			<!-- End Google Tag Manager -->
		{% endif %}
	</head>

	{% block bodyTag %}
	<body>
	{% endblock bodyTag %}

	{% if generalSettings.googleTagApiKey is defined and generalSettings.googleTagApiKey is not empty %}
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id={{ generalSettings.googleTagApiKey }}" height="0"
					width="0"
					style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
	{% endif %}

	<div style="display: none;">
		{{ svg('@webroot/assets/svg/sprite.symbol.svg') }}
	</div>

	<header class="site-header">
		{% include '@header' with header only %}
	</header>

	<main class="site-content" role="main">
		{% block content %}
		{% endblock %}
	</main>

	<footer class="site-footer">
		{% include '@footer' with footer only %}
	</footer>

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2Ces6%2CIntersectionObserver%2Cfetch%2CElement.prototype.append%2CElement.prototype.remove"></script>
	<script src="/assets/js/{{ rev('main.js') }}"></script>
	</body>

	</html>
{%- endblock htmlPage -%}
